
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}<div id="content-home" class="content">
    <div id="id-content-product" class="content-product" style="display: inline;">
        <div class="content-header" style="color: black; text-align: center; font-size: 30px; font-family: monospace;">SẢN PHẨM</div>
        <div class="image-gird">
            <div class="gird-box" data-toggle="modal" data-target="#exampleModal" onclick="addProduct()">
                <img class="image-add-product" src="img/icon-add.png">
            </div>
            <div class="gird-box">
                <img src="img/1.jpg">
                <p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p>
            </div>
            <div class="gird-box">
                <img src="img/2.jpg">
                <p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p>
            </div>
            <div class="gird-box"><img src="img/3.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p> </div>
            <div class="gird-box"><img src="img/4.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/b1.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/b2.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/b3.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/bg1.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/bg2.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/bg3.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/bg4.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/blog.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/blog1.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/blog2.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/blog3.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/g1.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/g2.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/g3.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/g4.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
            <div class="gird-box"><img src="img/g5.jpg"><p style="color: black; text-align: center;">Humberger bò. Giá 50000 VNĐ</p></div>
        </div>
    </div>
    </div>