
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

 
        <div class="content-header" style="color: black; text-align: center; font-size: 30px; font-family: monospace;">KHÁCH HÀNG</div>
        <table>
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Tên khách hàng</th>
                    <th>Email</th>
                    <th>Sản phẩm đã mua</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Phòng Văn Huỳnh</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bùi Trung Tú</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nguyễn Thị Ngọc</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Trần Tuấn Anh</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nguyễn Ngọc Long</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Trần Hùng Phong</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Lê Văn Toàn</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Lê Văn Nam</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Phạm Văn Long</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Nguyễn Thị Huyền</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Trần Hùng Kiên</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Lưu Bá Tú</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Trần Văn Quý</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Nguyễn Văn Nguyên</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Nguyễn Văn Ngọc</td>
                    <td>admin1@email.com</td>
                    <td>120</td>
                </tr>
            </tbody>
        </table>
   
